.list {
  list-style: none;
}

/* section */

.section-title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-button-color);

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.radio-button .button:hover,
.radio-button .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
